body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 50px;
    background-color: #ffd1dc;
    color: #292223;
    font-family: "Roboto", sans-serif;
}

table {
    width: 650px;
    border-top: 7px solid rgb(255, 67, 164);
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 20px;
}

td {
    text-align: left;
    padding: 10px;
    border: 3px solid rgb(255, 67, 164);
}
th {
    text-align: center;
    padding: 10px;
    border: 3px solid rgb(255, 67, 164);
}